In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
folder_path = '../../Data/sclc_ucologne_2015'
file_name = 'data_clinical_patient.txt'
file_path = folder_path + '/' + file_name
# Load the RNAseq data from the csv file
data = pd.read_csv(file_path, sep='\t', index_col=0, header=0, usecols=['PATIENT_ID','AGE', 'ETHNICITY', 'SEX', 'OS_STATUS', 'OS_MONTHS']  )


# the columns correspond to the patient IDs
# delete rows with no OS_STATUS
data = data[data['OS_STATUS'].notna()]
# Get the column names
data.head()

                            AGE     SEX ETHNICITY   OS_STATUS  OS_MONTHS
PATIENT_ID
sclc_ucologne_2015_S00022  47.0    Male       NaN  1:DECEASED       38.0
sclc_ucologne_2015_S00035  65.0  Female       NaN  1:DECEASED       12.0
sclc_ucologne_2015_S00050  47.0    Male       NaN  1:DECEASED       42.0
sclc_ucologne_2015_S00213  65.0    Male       NaN  1:DECEASED       13.0
sclc_ucologne_2015_S00356  54.0  Female       NaN  1:DECEASED       33.0

In [3]:
data["race"] = data["ETHNICITY"]
data['year_of_diagnosis'] = data['AGE']
data['year_of_birth'] = 2015 - data['AGE'] 
data['overall_survival'] = data['OS_MONTHS']
data['vital_status'] = data['OS_STATUS']
data['disease_specific_survival'] = data['OS_MONTHS']
data['primary_site'] = 'Bronchus and lung'

In [4]:
#replace "Asian" with "NOT HISPANIC OR LATINO, other with nan
data["ETHNICITY"].replace({"Asian": "NOT HISPANIC OR LATINO"}, inplace=True)
#other with Nan

# Replace all other values that are not "NOT HISPANIC OR LATINO" with NaN
data["ETHNICITY"] = data["ETHNICITY"].apply(lambda x: "NOT HISPANIC OR LATINO" if x == "NOT HISPANIC OR LATINO" else np.nan)

In [7]:
data["race"].replace({"Caucasian": "WHITE", "Asian": "ASIAN"}, inplace=True)

In [9]:
#change column names
data.rename(columns = {'PATIENT_ID':'patient_id', 'SEX': 'gender', 'ETHNICITY':'ethnicity' }, inplace = True)

In [11]:
#drop AGE, OS_STATUS, OS_MONTHS
data.drop(columns = ['AGE', 'OS_STATUS', 'OS_MONTHS'], inplace = True)

In [12]:
data.head()

,gender,ethnicity,race,year_of_diagnosis,year_of_birth,overall_survival,vital_status,disease_specific_survival,primary_site
PATIENT_ID,,,,,,,,,
sclc_ucologne_2015_S00022,Male,NaN,NaN,47.0,1968.0,38.0,1:DECEASED,38.0,Bronchus and lung
sclc_ucologne_2015_S00035,Female,NaN,NaN,65.0,1950.0,12.0,1:DECEASED,12.0,Bronchus and lung
sclc_ucologne_2015_S00050,Male,NaN,NaN,47.0,1968.0,42.0,1:DECEASED,42.0,Bronchus and lung
sclc_ucologne_2015_S00213,Male,NaN,NaN,65.0,1950.0,13.0,1:DECEASED,13.0,Bronchus and lung
sclc_ucologne_2015_S00356,Female,NaN,NaN,54.0,1961.0,33.0,1:DECEASED,33.0,Bronchus and lung

In [14]:
#save to tsv
data.to_csv(folder_path + '/data_clinical_patient.tsv', sep='\t')